body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:black;
    color: white;
    margin-left: 350px;
}

#snake{
    width: 1000px;
    height: 512px;
}